{{> navbar_inside}}

<h1>Bienvenid@ <span id="nombre"></span></h1>
<p>Cargue sus datos</p>

<script>
  
  async function init() {
    // 1. Recupero el token
    const token = localStorage.getItem('token')

    // 2. Voy a buscar mis datos
    const {data} = await axios.get('/api/auth/my', {
      headers: {
        authorization: token
      }
    })

    console.log(data)
    document.querySelector('#nombre').innerHTML = data.nombre
  }
  init()
</script>
